* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Noto Sans Kannada", sans-serif;

    background: #FDFBF7;

    color: #222;

    line-height: 1.6;
}





a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.container {

    width: min(1200px, 95%);
    margin: auto;
}